name: Build and Push studentbe

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: build image
        working-directory: student-be
        run: docker build -f Dockerfile . -t hmodaresi/aminedu:latest

      - name: push image

        run: |
          echo "${{ secrets.DOCKER_HUB_PAT }}" | docker login -u hmodaresi --password-stdin
          docker push hmodaresi/aminedu:latest
