name: Build and Push studentbe

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: build image
        working-directory: student-be
        run: docker build -f Dockerfile . -t hmodaresi/aminedu:${GITHUB_SHA::7}

      - name: login to dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: push image
        run: docker push hmodaresi/aminedu:${GITHUB_SHA::7}
